{
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": true,
	"bracketSameLine": false,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "strict",
	"quoteProps": "as-needed"
}
